.red { color: red;}
.bold { font-weight: bold;}

.clr-1 { color: crimson;}
.clr-2 { color: forestgreen;}
.clr-3 { color: dodgerblue;}
.clr-4 { color: darkorange;}

.size-1 { font-size: 1.2em;}
.size-2 { font-size: 0.85em;}
.size-3 { font-size: 1.5em;}
.size-4 { font-size: 0/9em;}
.size-5 { font-size: 1.8em;}
.size-6 { font-size: 0.75em;}
.size-7 { font-size: 1.1em;}

